# Adapted from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
src/unity_study_app/.utmp/
/src/unity_study_app/[Ll]ibrary/
/src/unity_study_app/[Tt]emp/
/src/unity_study_app/[Oo]bj/
/src/unity_study_app/[Bb]uild/
/src/unity_study_app/[Bb]uilds/
/src/unity_study_app/[Ll]ogs/
/src/unity_study_app/[Uu]ser[Ss]ettings/
src/unity_study_app/*.log

src/unity_study_app/.vscode/